
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/beautiful-landscape-nature-background-images-free-download-freepik-vector_1305309-88.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    background: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border-color:rgb(198, 105, 105);
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color:rgb(231, 133, 133);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: greenyellow;
}
